section {
    min-height: 350px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
}

section:nth-child(odd) {
    background-color: #eee;
}

section:nth-child(even) {
    background-color: #666;
}