.section-container {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    grid-gap: 1rem;
}

.section-container__content {
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
}

.section-btn {
    display: inline-block;
    width: 150px;
    border: none;
    border-radius: 7px;
    padding: .8rem 1rem;
    background-color: #000;
    color: #eee;
    text-align: center;
    margin: 1rem auto;
    transition: 300ms;
}

.section-btn:hover {
    color: #ff9900;
    transform: scale(.99);
}

.section-container__picture {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    justify-items: center;
}

.section-container__pictures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: .5rem;
    padding: 1rem;
}

.tumb-pic {
    aspect-ratio: 16/11;
    border-radius: 7px;
}

.section1-pic1 {
    background: url('../../images/pulled-pork.jpg') no-repeat center /cover;
}

.section1-pic2 {
    background: url('../../images/short-ribs2.jpg') no-repeat center /cover;

}

.section1-pic3 {
    background: url('../../images/smokey-ribs.jpg') no-repeat center /cover;
}

.section1-pic4 {
    background: url('../../images/beer-can-chicken.jpg') no-repeat center /cover;
}

.picture-big {
    min-height: 350px;
    max-height: 400px;
}

.section2-picture {
    background: url('../../images/spare-rip-plate.jpg') no-repeat center /cover;
}

.section3-pic1 {
    background: url('../../images/bbq-nature.jpg') no-repeat center /cover;
}

.section3-pic2 {
    background: url('../../images/smoker-bb1.jpg') no-repeat center /cover;
}

.section3-pic3 {
    background: url('../../images/basterd.jpg') no-repeat center /cover;
}

.section3-pic4 {
    background: url('../../images/Weber-Master-Touch.jpg') no-repeat center /cover;
}

.section4-picture {
    background: url('../../images/pulled-pork.jpg') no-repeat center /cover;
}