header {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 75vh;
    background-color: #333;
    z-index: 1;
}

header nav ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: absolute;
    z-index: 1;
}



header nav a {
    color: #eee;
    list-style: none;
    text-decoration: none;
    padding: 1rem;
}

header nav a:hover {
    color: #ff9900;
}

.header-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: url('../../images/short-ribs.jpg') no-repeat center /cover;
    z-index: -1;
}

.header-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eee;
}